.alert.alert-secondary.text-uppercase.my-4(role="alert") Movie search app

.jumbotron.mb-5

    .mb-3
        p.h4.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor in culpa perferendis.
        p.text-center Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non optio cum reiciendis provident nostrum quaerat consectetur rerum aperiam amet. Aliquid dolorum doloribus pariatur harum quo iusto facilis, error quos expedita.

    form.search-form.row.input-group.m-0(method="post")
        input.search.col.col-9.form-control(type="text" placeholder="Start typing to search movie")

        .input-group-append.col.col-3.p-0
            button.btn.btn-primary.w-100(type="button") Search

    #search-list


.my-5
    h2.h4.text-center Trending movies today